@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat:300,400,600,700,800,900');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: none;
}
