@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat:300,400,600,700,800,900');

.overlay {
  position: fixed;
  z-index: 5;
  height: 100%;
  width: 100%;
  background: rgba(16, 154, 161, 0.4);
}
.side-container {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background: rgb(250, 250, 249);
}

.sidebar-action {
  width: 100%;
  padding: 10px 15px;
  text-align: right;
}

.side-container img {
  width: 70%;
  height: 45px;
  margin: 0 auto;
  padding: 10px 0px;
}

.side-section {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.side-section i {
  margin-right: 15px;
}
.side-section h3 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}