@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat:300,400,600,700,800,900');

.product-card {
  width: 50%;
}

@media screen and (min-width: 700px) {
  .product-card {
    width: 30%;
  }
}

@media screen and (min-width: 1000px) {
  /* .product-card {
    width: 25%;
  } */
}

@media screen and (min-width: 1500px) {
  .product-card {
    width: 20%;
  }
}